


.heading{
    width:100%;
    line-height: 80px;
    font-size: 2rem;
    background: linear-gradient(45deg, #c3073f, #950740);
    font-family: 'Anton', sans-serif;
}

form{
    width:400px;
    
}


